!!!
%html
%head
  %script(src="/jquery-1.8.0.min.js")
  :css
    body {
      font-size: 1.5em;
    }

    a {
      text-decoration: none;
    }

    .action, .status {
      text-align: center;
    }

    .answers {
      text-align: center;
    }
    .answers ul {
      list-style-type: none;
    }

    .answers ul li {
      display: inline;
    }

    .wrap {
      width: 100%;
      height: 400px;
      padding: 0;
      overflow: hidden;
    }

    #cheat {
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
    }

    .answers ul li a img {
      border: 2px black solid;
      padding: 5px;
    }

    .answers ul li a img.correct {
      border: 5px #00ff00 solid;
      padding: 2px;
    }
%body

  .action

  /- if @level.level >= 98
  /  %h1 CHOD NA WEBSUPPORT!!!!!!!    

  %h3.status
    = @level.domain
    &bull;
    Level: #{@level.level} &bull;
    Lives: #{@level.lives} &bull;
    Time: #{sprintf("%.2f", Time.now - @level.start_time)} &bull;
    Expected: #{sprintf("%.2f" ,(Time.now - @level.start_time) * (100.0 / @level.level.to_f))} &bull;
    %a(href="/reset") Reset

  .answers
    - for group in @level.answers.each_slice(6).to_a
      %ul
        -for answer in group
          %li
            %a{href: "/answer?answer=#{answer.answer_hash}&domain=#{@level.domain}&lives=#{@level.lives}"}
              %img{src: "data:image/gif;base64,#{answer.image_data}", width: 200, height: (0.751 * 200).to_i, class: (answer.answer_hash == @level.correct_answer ? "correct" : "")}
              /%img{src: "/screenshot?answer=#{answer}", width: 300, height: (0.751 * 300).to_i}


  .wrap
    - if @level.correct_answer.nil?
      %iframe#cheat{scrolling: 'no', src: "http://#{@level.domain}"}
        Loading frame

  :javascript
    var clicked = false;

    $(document).ready(function () {
      $(".answers img").click(function () {
        clicked = true;
        $(".answers img").hide();
        $(this).show();
      });

      setTimeout(function () {
        if (!clicked) {
          $(".answers img.correct").trigger('click');
        }
      }, 1);
      
    });